/* General Styles */
body {
    background-color: #121212;
    color: #bbb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1e1e1e;
    padding: 15px 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #444; /* Ligne claire en bas de la navbar */
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Filter Container */
.filter-container {
    background-color: #1e1e1e;
    padding: 10px;
    position: sticky;
    top: 84px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #444;
}

.filter-container label {
    margin-right: 10px;
    color: #bbb;
    font-size: 18px;
}

.filter-container select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.filter-container select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Project Container */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px 10%;
}

.project {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.language-logo {
    width: 100px;
    height: 40px;
    vertical-align: middle;
    margin-left: 5px;
}

.project-info h2 {
    color: #fff;
}

.project-info p {
    color: #bbb;
}

/* Button Styles */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}