/* General Styles */
body {
    background-color: #121212;
    color: #bbb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1e1e1e;
    padding: 15px 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #444; /* Ligne claire en bas de la navbar */
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Project Details Container */
.project-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 10%;
}

.project-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-text {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
}

.structure {
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    margin-right: 40px;
    position: relative;
}

.project-text h1 {
    color: #fff;
}

.project-text p {
    color: #bbb;
}

.project-buttons {
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.project-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 60%;
}

.project-media img,
.project-media video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}